<div class="container">
    <form >
        <!-- label+input[type='text'].form-conrol -->
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input id="firstName" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea id="comment" class="form-control"></textarea>  
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>