<like
    [likesCount] = "tweet.likesCount"
    [isActive] = "tweet.isLiked"
>
</like>

<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel> -->
<!-- 
<app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>

<h1>Angular</h1>
<courses></courses>
<authors></authors>
<app-course></app-course> -->

<div *ngIf="courses.length>0; then courseslist else noCourses"></div>

<ng-template #courseslist>
    List of courses
</ng-template>

<ng-template #noCourses>
    No courses yet
</ng-template>

<!-- <div *ngIf="courses.length==0">
    No courses yet
</div> -->
<!-- hidden property start-->
<div [hidden]="courses.length==0">
    List of courses
</div>

<div [hidden]="courses.length>0">
    No courses yet
</div>
<!-- hidden property end-->

<!-- ngSwitchCase start -->
<ul class="nav nav-pills">
    <!-- (li>a)*2  code generate-->
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode ='map'">Map View</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode ='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>    
    <div *ngSwitchCase="'list'">List View Content</div>    
    <div *ngSwitchDefault>Otherwise</div>    
</div>
<!-- ngSwitchCase end -->